.application-layout {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 64px);
}

.application-content {
  min-width: 0;
  flex: 1;
}

@media (max-width: 800px) {
  .application-layout {
    flex-direction: column;
  }
}
